@charset "UTF-8";
/* CSS Document */

/*Fonts web */

@font-face {
    font-family: 'formatalight';
    src: url('../fonts/formata_light-webfont.eot');
    src: url('../fonts/formata_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata_light-webfont.woff2') format('woff2'),
         url('../fonts/formata_light-webfont.woff') format('woff'),
         url('../fonts/formata_light-webfont.ttf') format('truetype'),
         url('../fonts/formata_light-webfont.svg#formatalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'formatamedium';
    src: url('../fonts/formata_medium-webfont.eot');
    src: url('../fonts/formata_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata_medium-webfont.woff2') format('woff2'),
         url('../fonts/formata_medium-webfont.woff') format('woff'),
         url('../fonts/formata_medium-webfont.ttf') format('truetype'),
         url('../fonts/formata_medium-webfont.svg#formatamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'formataregular';
    src: url('../fonts/formata_regular-webfont.eot');
    src: url('../fonts/formata_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata_regular-webfont.woff2') format('woff2'),
         url('../fonts/formata_regular-webfont.woff') format('woff'),
         url('../fonts/formata_regular-webfont.ttf') format('truetype'),
         url('../fonts/formata_regular-webfont.svg#formataregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'formatabold';
    src: url('../fonts/formatabold-webfont.eot');
    src: url('../fonts/formatabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formatabold-webfont.woff2') format('woff2'),
         url('../fonts/formatabold-webfont.woff') format('woff'),
         url('../fonts/formatabold-webfont.ttf') format('truetype'),
         url('../fonts/formatabold-webfont.svg#formatabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	/*font-family: 'formataregular' !important;*/
	}
h2{
	color:#116eb3;
	
    font-family: 'formatabold';
	}
h4{
    font-family: 'formatabold';
	color:#116eb3 !important;
	}

.main{padding-top: 100px;}

/*Header */
.header_hospital{
	background-color:#116eb3 !important;
	height:100px !important;
	}


.imagen_sube{
	margin-top:-80px;
	height:445px;
	background-image:url('../img/fondo_hospital.jpg')
	
	}
.nombre_hospital{
	background-color:rgba(229, 229, 229, 0.85); 
	margin-top:150px;
	padding-top:20px;
	padding-bottom:150px;
	
	
	}
/*contenidos */


.containerc {
    width: 100%;
    height: auto;
    text-align: center;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index:10;
    /*padding-right: 10%;*/


    animation-name: mymove2;
    /*animation-delay: 1.5s;*/
    animation-duration:  9s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    -webkit-animation-name: mymove2;
    /*-webkit-animation-delay: 1.5s;*/
    -webkit-animation-duration:  9s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-direction: alternate;

}
.containerc.img {
    margin-right: 50px;
}

@keyframes mymove2 {
    0% {
        top: 0px;
    }
    10% {
        top: 160px;
    }
    90% {
        top: 160px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes mymove2 {
    0% {
        top: 0px;
    }
    10% {
        top: 160px;
    }
    90% {
        top: 160px;
    }
    100% {
        top: 0px;
    }
}

.containerb {
    width: 100%;
    height: auto;
    text-align: center;
    position: fixed;
    bottom: -90px;
    margin: 0 auto;

    animation-name: mymove;
    animation-delay: 1.5s;
    animation-duration:  10s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    -webkit-animation-name: mymove;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration:  10s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-direction: alternate;

}

@keyframes mymove {
    0% {
        bottom: -90px;
    }
    10% {
        bottom: 0px;
    }
    90% {
        bottom: 0px;
    }
    100% {
        bottom: -90px;
    }
}

@-webkit-keyframes mymove {
    0% {
        bottom: -90px;
    }
    10% {
        bottom: 0px;
    }
    90% {
        bottom: 0px;
    }
    100% {
        bottom: -90px;
    }
}

.close_appwork{
    position: absolute;
    right:50%;
    margin-right: -295px;
    top:-6%;
    color: #000;
}


.especialidades{
	background-color:#ffffff !important;
	margin-bottom:10px;
	padding-top:10px;
	padding-left: -15px !important;
  padding-right:-15px !important;
	}
.margin_top{
	margin-top:10px;
	}
.tit_perfil{
	margin-top:100px;
	background-color:#116eb3 !important;
	font-family: 'formataregular';
	color:#fff !important;
	
	}
.tit_perfil h3{
	color:#fff !important;
	margin-left:15%;
	}
.tit_perfil span{
	 font-family: 'formatamedium';
	}
.info_general {
	background-color:#e5e5e5 !important;
	}
.fondo_perfil{
	background-color:#e5e5e5 !important;
	
	}
.color_forma{
	background-color:#FFF !important;
	}
/*boton_general */	
.boton_negro { 
  color: #ffffff; 
  background-color: #116eb3; 
  border-color: #130269; 
} 
 
.boton_negro:hover, 
.boton_negro:focus, 
.boton_negro:active, 
.boton_negro.active, 
.open .dropdown-toggle.boton_negro { 
  color: #ffffff; 
  background-color: #999; 
  border-color: #130269; 
} 
 
.boton_negro:active, 
.boton_negro.active, 
.open .dropdown-toggle.boton_negro { 
  background-image: none; 
} 
 
.boton_negro.disabled, 
.boton_negro[disabled], 
fieldset[disabled] .boton_negro, 
.boton_negro.disabled:hover, 
.boton_negro[disabled]:hover, 
fieldset[disabled] .boton_negro:hover, 
.boton_negro.disabled:focus, 
.boton_negro[disabled]:focus, 
fieldset[disabled] .boton_negro:focus, 
.boton_negro.disabled:active, 
.boton_negro[disabled]:active, 
fieldset[disabled] .boton_negro:active, 
.boton_negro.disabled.active, 
.boton_negro[disabled].active, 
fieldset[disabled] .boton_negro.active { 
  background-color: #302927; 
  border-color: #130269; 
} 
 
.boton_negro .badge { 
  color: #302927; 
  background-color: #ffffff; 
}
.btn_agregar{
	margin-top:190px;
	 width:100px;
	 float:right !important;
	}
/*Forma*/	
.caracteres{
	font-family: 'formatalight';
	font-size:12px;
	margin-top:5px;
	color:#7d7d7d;
	}
	
/*Menu*/	
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(17, 110, 179, 1);
    border-width: 0px;
    border-radius:0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(17, 110, 179, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    /* color: rgba(211, 219, 235, 1); */
    background-color: rgba(255,255,255,.1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    /* color: rgba(211, 219, 235, 1); */
    background-color: rgba(17, 110, 179, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #6eadcf;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #6eadcf;
}
.custom_style_menu_top .navbar-nav>li>a:hover{ background:#000;}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #6eadcf;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #486f84;
}
.icono_espacio{
	margin-right:4px;
	}


/*Perfil Hospital*/
.descrpcion_hospital{
	background-color:#fff;
	color:#535353;
	margin-bottom:20px;
	}
	.descrpcion_hospital p{
		padding:25px !important;
		}
.color_fondo1{
	background-color:#f9f9f9;
	color:#535353;
	margin-top:20px;
	}

.color_fondo2{
	background-color:#f1f1f1;
	color:#535353;
	margin-top:20px;
	}
.tit_negro{
	color:#116eb3;
	font-size:16px;
	padding:5px !important;
	}
.hospital_tit_post{
	color:#116eb3;
	}



.fc-day{-webkit-transition: .4s;-moz-transition: .4s;-o-transition: .4s;transition: .4s;}

.vista_calendario{background: #FFF;padding: 1%;box-sizing: border-box;border-left: 2px solid #D4D4D4;}
.lateral_agenda{padding:1%;box-sizing: border-box;}

.lateral_agenda h1{border-bottom:1px solid #d4d4d4;margin: 0px 0 6%;font-family:'formataregular';font-size: 1.5em;color: #888;padding: 0 0 6%;}

#calendar-mini{ font-size:.7em; margin-bottom:5%}

/*Media*/
@media (min-width: 768px) {
 
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	margin-top:20px;
	margin-right:25px;
}


}

@media (max-width: 767px) {
	
#calendar-mini{  display:none}
}